{% extends "base.html" %}

{% block title %}Правила{% endblock %}

{% block content %}
<h1>Правила игры Мафия</h1>
<p>
1. Основные понятия <br>
1.1. В игре принимают участие десять человек. Игроки случайным образом делятся на две команды: «красные» (мирные жители) и «чёрные» (мафия). В игре разыгрываются 7 «красных» карт, одна из которых — Шериф, и 3 «чёрные», одна из которых — Дон.<br>
1.2. Ведёт игру, регламентирует её начало, конец и все игровые фазы Судья. Ведению игры могут помогать боковые Судьи.<br>
1.3. Игра имеет две фазы: фаза «день» и фаза «ночь».<br>
1.4. Победа команды «красных» наступает в тот момент, когда из игры выведены все представители «чёрной» команды. Победа «чёрной» команды наступает в случае, когда за игровым столом остаётся равное количество игроков обеих команд или количество «черных» игроков больше, чем «красных». Моментом вывода игрока является момент голосования или ночного «убийства».<br><br>

2. Игровая площадка, инвентарь и официальный язык игры<br>
2.1. Игровой стол должен быть таким, чтобы за ним комфортно разместились 10 игроков. Судья имеет право разместиться за игровым столом или рядом с игровым столом так, чтобы иметь возможность видеть и слышать всё, что происходит за игровым столом.<br>
2.2. Каждый игрок, сидящий за игровым столом, должен иметь табличку с номером, а также игровую маску размером, не менее стандартного. Стандартный размер игровой маски равен 210мм/125мм.<br>
2.3. Игровая площадка должна быть обеспечена акустикой или иным музыкальным оборудованием для проведения игровой «ночи».<br>
2.4. Официальным языком игры является русский язык<br>
2.5. Лицевая сторона игровых карт, используемых на турнирах Федеральной Спортивной Мафии, должна быть единой. Макет официальных карт Федеральной Спортивной Мафии, используемых на турнирах, размещён по адресу: https://disk.yandex.ru/i/CdBZ20_PW8mJHg<br><br>

3. Игроки<br>
3.1. Игрок находится на игровой площадке до тех пор, пока принимает участие в игровом процессе.<br>
3.2. Игрок может использовать экипировку, которая не создаёт опасность для других игроков, не оскорбляет игроков, судей или зрителей и не может создать незаслуженное преимущество над другими игроками.<br>
3.3. По требованию Судьи игроки должны сдать перед игрой все мобильные устройства, переведя их перед этим в беззвучный режим или выключив.<br>
3.4. Использование собственных масок во время игры допускается только с разрешения Судьи стола.<br><br>

4. Игровые положения<br>

4.1. Начало игры<br>
4.1.1. За игровой стол приглашаются десять игроков. Место за игровым столом разыгрывается случайным образом судьёй стола непосредственно перед началом игры, либо указано в расписании.<br>
4.1.2. Судья представляет игроков и объявляет начало игры фразой «наступает ночь». Все игроки надевают игровые маски.<br>
4.1.3. Игроки по очереди с закрытыми глазами выбирают игровую карту, снимают маску, знакомятся с игровой ролью и надевают маску, низко наклоняют головы и, при необходимости, по команде судьи, закрывают уши руками.<br>

4.2. Первая игровая «ночь»<br>
4.2.1. По объявлению Судьи игроки, получившие «чёрные» карты, снимают маски и проводят знакомство друг с другом. Дон назначает порядок «отстрела» на последующие «ночи». На все вышеперечисленные действия у «чёрной» команды есть ровно 1 минута. После этого по объявлению Судьи «чёрные» игроки надевают маски и «засыпают».<br>
4.2.2. По объявлению Судьи сначала Дон, не снимая маску, жестом показывает, что является Доном, а затем Шериф, не снимая маску, жестом показывает, что является Шерифом. В последующие ночи Дон будет «просыпаться», чтобы найти Шерифа игры, а Шериф будет «просыпаться», чтобы проверять игроков на принадлежность к той или иной команде. На проверку Дон и Шериф имеют не более 10-ти секунд.<br>
4.2.3. В первую игровую ночь после засыпания Шерифа Судья объявляет фазу свободной посадки. Во время свободной посадки руки игроков должны быть в зоне видимости судьи, головы игроков должны сохранять угол наклона примерно 45 градусов. Продолжительность фазы свободной посадки составляет 40 секунд.<br><br>

4.3. Игровой «день»<br>
4.3.1. Судья объявляет игровую фазу Дня. Игроки снимают маски. В эту фазу происходит обсуждение. В каждый игровой день игроку предоставляется 1 минута для высказывания и выставления кандидатур на голосование.<br>
4.3.2. Игроки высказываются по очереди в порядке рассадки за игровым столом. Обсуждение первого игрового дня начинает игрок под номером 1. Обсуждение каждого последующего игрового дня начинается со следующего после говорившего первым на предыдущем кругу игрока.<br>
4.3.3. Игрок имеет право обращаться к другим игрокам по игровому никнейму или порядковому номеру игрока.<br>
4.3.4. Игрок имеет право обращаться к Судье фразой «Господин (-жа) Судья» или «Господин (-жа) Ведущий (-ая)».<br>
4.3.5. Игроки заканчивают свое выступление словом «ПАС» или словом «СПАСИБО».<br>
4.3.6. Игроки не имеют права надевать маску на глаза в фазе игрового дня.<br><br>

4.4. Голосование<br>
4.4.1. По окончании «дневного» обсуждения происходит голосование. Голосование проводится только среди игроков, выставленных на голосование во время «дневного» обсуждения.<br>
4.4.2. Во время своей минуты игрок имеет право выставить любого игрока на голосование. Выставление игрока на голосование производится фразой в настоящем времени: «Я выставляю игрока № …». В ответ Судья, если данная кандидатура принимается, произносит фразу: «Принято».<br>
4.4.3. Игрок имеет право выставить на голосование только одну кандидатуру в каждый игровой «день».<br>
4.4.4. Игроки голосуются в том порядке, в котором они были выставлены на голосование во время «дневного» обсуждения.<br>
4.4.5. Для того, чтобы проголосовать против того или иного игрока, игрок обязан после озвучивания кандидатуры незамедлительно поставить кулак в вертикальном положении на игровой стол до того момента, пока Судья не скажет: «Стоп» или «Спасибо». Время на голосование — около 1,5 секунды.<br>
4.4.6. Игрок обязан держать руку на поверхности игрового стола до тех пор, пока Судья не объявит количество проголосовавших.<br>
4.4.7. Игрок имеет право голосовать только против одного кандидата во время голосования.<br>
4.4.8. Если игрок не проголосовал, то его голос отходит против игрока, выставленного на голосование последним.<br>
4.4.9. Если игрок отдёрнул руку при голосовании, то его голос засчитывается.<br>
4.4.10. Если в первый игровой «день» выставлена только одна кандидатура, то голосование не проводится. В течение следующих «дней» голосуется любое количество выставленных на голосование игроков.<br>
4.4.11. Игрок, набравший большинство голосов на дневном голосовании, покидает игру.<br>
4.4.12. Если два или более игроков набирают одинаковое количество голосов на голосовании, то эти игроки получают дополнительные 30 секунд на высказывание, после чего среди них проводится повторное голосование.<br>
4.4.12.1. Высказывание игроков и повторное голосование проходят в порядке их выставления.<br>
4.4.12.2. Если при повторном голосовании голоса снова поделились поровну, но среди меньшего количества кандидатур, то игроки, поделившие между собой спорные голоса, снова получают дополнительные 30 секунд на высказывание, после чего среди них проводится повторное голосование.<br>
4.4.12.3. Если при повторном голосовании голоса снова поделились поровну среди тех же самых кандидатур, то Судьёй ставится на голосование вопрос: «Кто за то, чтоб все голосуемые игроки покинули игровой стол?». Если большинство голосует за выбывание, игроки покидают игру. Если большинство игроков голосует против, либо голоса делятся поровну, то игроки остаются в игре.<br>
4.4.13. Роль покинувшего игру игрока не раскрывается. Покинувший игру игрок имеет право на последнее слово продолжительностью в 1 минуту.<br><br>

4.5. Вторая и последующие «ночи»<br>
4.5.1. По окончании первого игрового «дня» Судья объявляет: «Наступает ночь». Все игроки незамедлительно надевают игровые маски.<br>
4.5.2. В течение этой и следующих «ночей» мафия имеет возможность «стрелять».<br>
4.5.3. Судья объявляет: «Мафия выходит на охоту». Далее Судья каждую ночь объявляет номера игроков от 1 до 10. Игроки «чёрной» команды «стреляют» с закрытыми глазами посредством имитации выстрела пальцами высоко поднятой руки.<br>
4.5.4. Если игроки «чёрной» команды «стреляют» в одного и того же игрока, то этот игрок по истечении «ночи» покидает игровой стол. Роль покинувшего игру игрока не раскрывается. Покинувший игру игрок имеет право на последнее слово продолжительностью в 1 минуту.<br>
4.5.5. Если кто-то из членов «чёрной» команды «стреляет» в другого игрока, «стреляет» в нескольких игроков или не «стреляет», то Судья фиксирует промах, и по итогам «ночи» игровой стол никто не покидает. Далее Судья объявляет: «Мафия удаляется».<br>
4.5.6. Судья объявляет: «Просыпается Дон и ищет Шерифа». Дон снимает игровую маску и показывает пальцами рук Судье номер игрока, которого он считает Шерифом. Судья характерным кивком головы подтверждает его версию, либо отрицает. Судья объявляет: «Дон засыпает». Дон надевает игровую маску.<br>
4.5.7. Судья объявляет: «Просыпается Шериф». Шериф снимает игровую маску и показывает пальцами рук Судье номер игрока, которого он хочет проверить на принадлежность к той или иной команде. В случае нахождения «красного» игрока, судья характерным поворотом головы и вытянутым вверх большим пальцем руки показывает игроку результат проверки. В случае нахождения «чёрного» игрока, судья показывает результат проверки характерным кивком головы и вытянутым вниз большим пальцем руки. Судья объявляет: «Шериф засыпает». Шериф надевает игровую маску.<br>
4.5.8. Дон и Шериф имеют право на одну проверку каждую игровую «ночь».<br>
4.5.9. Игрок, «убитый» во вторую игровую «ночь» (первую ночь после «договорки»), имеет право во время «ночи» сделать «лучший ход», если иное не предусмотрено Правилами. Судья объявляет: «Ночь продолжается, игрок № …, вас убили. У вас есть 20 секунд на лучший ход, не снимая маски». Игрок, к которому обратился Судья, не снимая маску, озвучивает вслух номера трёх игроков, которых он считает «чёрными». После завершения «лучшего хода» судья объявляет «Принято», повторяет названные игроком цифры «лучшего хода». После этого Судья объявляет «утро» и предоставляет «убитому» игроку заключительную минуту. [Пояснения: Правила о "лучшем ходе"]<br>
4.5.10. В игровую «ночь» игроки должны вести себя в рамках «ночного» поведения и сидеть в соответствующей «ночной» позе — спина ровная, руки перекрещены и лежат на плечах, голова слегка наклонена вперёд примерно на 45 градусов от вертикального положения:<br><br>

4.6. Дальнейший ход игры<br>
4.6.1. В последующие «дни» и «ночи» ход игры не меняется, фазы игры чередуются до победы той или иной команды.<br>
4.5.10.1. Во время «ночи» запрещено петь, танцевать, говорить, прикасаться к другим игрокам, есть или пить, курить, совершать иные действия, выходящие за рамки «ночного» поведения;<br>
4.5.10.2. Игровая маска должна быть надета на резинку и плотно закрывать глаза, не создавая при этом просвета по периметру вокруг глаз. Не допускается использование маски, не подходящей по размеру. Держать маску руками или дополнительно прижимать её к лицу запрещено;<br>
4.5.10.3. Перед наступлением «ночи» игроки должны снять в себя любые головные уборы (шляпы, кепки, капюшоны и т.п.), очки в случае их наличия, светоотражающие предметы (часы, браслеты и т.п.).<br><br>

5. Нарушения<br>
5.1. Нарушениями правил считаются:<br>
5.1.1.   использование клятвы и/или пари в любой форме, а также их аналогов с целью доказывания своей роли и/или влияния на ход игры;<br>
5.1.2.    использование шантажа, угроз и/или подкупа с целью влияния на ход игры;<br>
5.1.3.    доказывание игроком, "вскрывшимся" шерифом, своей роли с помощью уникальной “ночной” информации (действия игроков или события, которые можно было увидеть во время "проверки");<br>
5.1.4.    сознательное подглядывание для получения информации, иные неигровые способы получения информации;<br>
5.1.5.    подсказки из зрительного зала;<br>
5.1.6.    нанесение оскорблений другим игрокам, Судьям или зрителям; [комментарий СК ФСМ]<br>
5.1.7.    “ночные” подсказки знаками Дону и Шерифу;<br>
5.1.8.    непроизвольное подглядывание “ночью”;<br>
5.1.9.    “ночные” прикосновения;<br>
5.1.10. “ночные” разговоры или выкрики, иные нарушения правил ночного поведения;<br>
5.1.11. покидание игрового стола;<br>
5.1.12. апеллирование к неигровым этическим и/или религиозным ценностям или иные "неигровые апелляции" с целью доказывания своей роли прямым или косвенным образом или влияния на исход голосования ("честное слово, я красный", "видит Бог, я красный", "умоляю тебя, проголосуй со мной, я шериф ", апелляция к важности игры: "игра мне решает, подними меня с тем, с кем я хочу", "мне важно выиграть эту игру, не поднимайте меня" и т.д.); [комментарий СК ФСМ]<br>
5.1.13. стуки по игровому столу, неэтичное поведение по отношению к другим игрокам и Судьям, споры с Судьёй;<br>
5.1.14. “дневные” прикосновения, использование излишней жестикуляции; [комментарий СК ФСМ]<br>
5.1.15. речь не в свою игровую минуту, в том числе междометия, шёпот и понятная артикуляция; [комментарий СК ФСМ]<br>
5.1.16. отдёргивание руки при голосовании до подведения итогов голосования (слова Судьи “Стоп” или "Спасибо");<br>
5.1.17. жестикуляция и призывы во время фазы голосования;<br>
5.1.18. слёзы за игровым столом; [комментарий СК ФСМ]<br>
5.1.19. нарушение установленного порядка голосования (неголосование в случае, когда Судья требует поставить оставшиеся голоса против последней кандидатуры и т.п.); [комментарий СК ФСМ]<br>
5.1.20. нарушение установленной формы голосования (голосование ладонью, пальцем, локтем и т.п., голосование против нескольких кандидатур, голосование двумя руками);<br>
5.1.21. просьба назвать или не называть кого-либо в “лучший ход”, выраженная вслух или с помощью жестикуляции; [комментарий СК ФСМ]<br>
5.1.22. апеллирование к влиянию на “лучший ход” с целью доказывания игровой роли или объяснения игровых действий; [комментарий СК ФСМ]<br>
5.1.23. попытка передачи уникальной дневной информации с помощью шёпота, явно скрываемого от судей и большинства игроков (т.е. совершаемого строго на ухо сидящему рядом игроку, чтобы никто не услышал); [комментарий СК ФСМ]<br>
5.1.24. использование мата, нецензурной лексики.<br><br>

6. Дисциплинарный регламент<br>
6.1. Нарушения правил фиксируются Судьёй.<br>
6.2. Игроки, нарушившие правила, наказываются Судьёй игры или Главным Судьёй в соответствии с регламентом.<br>
6.3. Игрок может быть устно предупреждён, наказан фолом, дисквалифицирован с игры или турнира, а также команде игрока, совершившего нарушение, может быть присуждено поражение. [комментарий СК ФСМ]<br>
6.4. При получении трёх фолов игрок лишается права слова в свою ближайшую минуту, при этом у игрока остаётся право выставить кандидатуру на голосование.<br>
6.5. При получении четвёртого фола или дисквалифицирующего фола игрок немедленно покидает игру без последнего слова. [комментарий СК ФСМ]<br>
6.6. Фолы. Игроки во время игры получают фол за следующие нарушения:<br>
6.6.1. речь не в свою игровую минуту, в том числе междометия, шёпот и понятная артикуляция; [комментарий СК ФСМ]<br>
6.6.2. использование излишней жестикуляции; [комментарий СК ФСМ]<br>
6.6.3. “дневные” прикосновения;<br>
6.6.4. стуки по игровому столу, неэтичное поведение по отношению к другим игрокам и Судьям;<br>
6.6.5. споры с Судьёй;<br>
6.6.6. отдёргивание руки при голосовании до подведения итогов голосования (слова Судьи “Стоп” или "Спасибо"), постановка руки на стол до голосования;<br>
6.6.7. жестикуляция и призывы во время фазы голосования;<br>
6.6.8. нарушение установленного порядка голосования (неголосование в случае, когда Судья требует поставить оставшиеся голоса против последней кандидатуры и т.п.). [комментарий СК ФСМ]<br>
6.7. Дисквалифицирующий фол (удаление игрока). Игрок дисквалифицируется с игрового стола за следующие нарушения:<br>
6.7.1. покидание игрового стола;<br>
6.7.2. “ночные” прикосновения; [комментарий СК ФСМ]<br>
6.7.3. “ночные” подсказки знаками Дону и Шерифу; [комментарий СК ФСМ]<br>
6.7.4. нанесение оскорблений другим игрокам, Судьям или зрителям; [комментарий СК ФСМ]<br>
6.7.5. непроизвольное подглядывание “ночью”; [комментарий СК ФСМ]<br>
6.7.6. “ночные” разговоры или выкрики, иные нарушения правил ночного поведения; [комментарий СК ФСМ]<br>
6.7.7. слёзы за игровым столом; [комментарий СК ФСМ]<br>
6.7.8. апеллирование к неигровым этическим и/или религиозным ценностям или иные "неигровые апелляции" с целью доказывания своей роли прямым или косвенным образом или влияния на исход голосования ("честное слово, я красный", "видит Бог, я красный", "умоляю тебя, проголосуй со мной, я шериф ", апелляция к важности игры: "игра мне решает, подними меня с тем, с кем я хочу", "мне важно выиграть эту игру, не поднимайте меня" и т.д.); [комментарий СК ФСМ]<br>
6.7.9. нарушение установленной формы голосования (голосование ладонью, пальцем, локтем и т.п., голосование против нескольких кандидатур, голосование двумя руками);<br>
6.7.10. сознательное подглядывание для получения информации, иные неигровые способы получения информации;<br>
6.7.11. просьба назвать или не называть кого-либо в “лучший ход”, выраженная вслух или с помощью жестикуляции; [комментарий СК ФСМ]<br>
6.7.12. апеллирование к влиянию на “лучший ход” с целью доказывания игровой роли или объяснения игровых действий; [комментарий СК ФСМ]<br>
6.7.13. попытка передачи уникальной дневной информации с помощью шёпота, явно скрываемого от судей и большинства игроков (т.е. совершаемого строго на ухо сидящему рядом игроку, чтобы никто не услышал); [комментарий СК ФСМ]<br>
6.7.14. сокрытие речевой информации путём её озвучивания на иностранном языке;<br>
6.7.15. использование мата, нецензурной лексики.<br>
6.8. Присуждение поражения команде. Игрок получает штраф за дисквалификацию и его команде присуждается поражение за следующие нарушения:<br>
6.8.1. использование клятвы и/или пари в любой форме, а также их аналогов с целью доказывания своей роли и/или влияния на ход игры; [комментарий СК ФСМ]<br>
6.8.2. использование шантажа, угроз и/или подкупа с целью влияния на ход игры; [комментарий СК ФСМ]<br>
6.8.3. подсказки из зрительного зала;<br>
6.8.4. доказывание игроком, "вскрывшимся" шерифом, своей роли с помощью уникальной “ночной” информации (действия игроков или события, которые можно было увидеть во время "проверки");<br>
6.8.5. совершение нарушения по любому из пунктов 6.7.4, 6.7.7, 6.7.8, 6.7.12, 6.7.13, 6.7.14 игроком во время его заключительной минуты или после того, как он стал покидающим игру по результату голосования<br>
6.8.6. После того, как в игре состоялось решающее “убийство” или “голосование”, по результату которого был определён результат игры, наказания по пунктам 6.7.2 – 6.7.3, 6.7.5 – 6.7.14, 6.8.1. – 6.8.5 не применяются. [комментарий СК ФСМ]<br><br>

7.   Особые ситуации<br>
7.1.  Если игрок покидает игровой стол, получая 4-й или дисквалифицирующий фол, то ближайшее или текущее голосование не проводится, кроме случаев, когда этот игрок был убит ночью или является покинувшим игру по результату голосования. [комментарий СК ФСМ]<br>
7.2.  Если игрок покидает игровой стол, получая 4-й или дисквалифицирующий фол после того, как стал известен результат голосования текущего дня, и он не является покидающим игру в результате этого голосования, то голосование на следующий день не проводится. Если голосование в этот день не проводится, то моментом определения его результата является объявление “ночи”. [комментарий СК ФСМ]<br>
7.3.  За сознательное подглядывание для получения информации, иные неигровые способы получения информации, а также за оскорбление Судьи или Главного Судьи игрок удаляется с турнира.<br>
7.4.  Игрок не имеет права получать у Судьи информацию о выставленных на голосование игроках.<br>
7.5.  Если игрок получил 3-й фол и попал в ситуацию переголосования, то он имеет право слова.<br>
7.6.  Если игрок набрал 3 фола, и к моменту его ближайшей речи до голосования за столом осталось 3 или 4 игрока, то он имеет 30 секунд.<br>
7.7.  Если в игре прошло три “ночи” подряд и за этот период количество участников игры осталось неизменным, то после третьей “ночи” присуждается ничья.<br>
7.8.  Голосование за подъем всех игроков, находящихся за столом, не проводится. [комментарий СК ФСМ]<br>
7.9.    При наступлении победы одной из команд в результате решающего голосования или “убийства”, уходящий игрок всегда имеет право на последнее слово продолжительностью в одну минуту. В случае дисквалификации любого игрока результат игры не меняется, а дисквалифицированный игрок получает штраф в соответствие с пунктом 8.2.4. [комментарий СК ФСМ]
7.10.                  Игрок, “убитый” в первую ночь, не имеет права на “лучший ход”, если по результату голосования в первый день игру покинули 2 или большее количество игроков. [комментарий СК ФСМ]<br><br>

8.   Регламент проведения турниров<br>
8.1.  На турнире применяется балловая система оценок.<br>
8.2.         По результатам каждой игры участникам автоматически начисляются очки рейтинга:<br>
8.2.1.  за победу каждый игрок “красной” команды получает 1 балл;<br>
8.2.2.  за победу каждый игрок “чёрной” команды получает 1 балл;<br>
8.2.3.  за поражение или ничью игроки не получают рейтинговых баллов или штрафов.<br>
8.2.4.  при дисквалификации с игрового стола игрок получает штраф -0,5 баллов в свой итоговый рейтинг, при этом эти баллы считаются дополнительными.<br>
8.3.         Игрок, “убитый” вторую игровую ночь (первую ночь после "договорки"), имеет право во время “ночи” сделать “лучший ход” — назвать номера трёх игроков, которых он считает “чёрными”. [комментарий СК ФСМ]<br>
8.3.1.  Порядок совершения "лучшего хода" регламентируется пунктом 4.5.9. Совершение "лучшего хода" может сопровождаться дополнительным устным объявлением (например, фразой "Запишите тройку чёрных"), после чего игрок должен назвать три номера друг за другом, которые должны быть внесены в Протокол игры. В ответ Судья озвучивает принятые им кандидатуры и произносит фразу: "Принято". [комментарий СК ФСМ]<br>
8.3.2.  В случаях, если игрок озвучил какую-либо игровую информацию, обратился к кому-либо из игроков или допустил высказывания, провоцирующие других игроков на реакцию, игрок удаляется со стола за нарушение правил ночного поведения, "лучший ход" завершается. Судья принимает только то количество номеров, которые игрок успел назвать к этому моменту. [комментарий СК ФСМ]<br>
8.3.3.  Изменение названных номеров в “лучшем ходе”, а также добавление неназванных номеров не производится. [комментарий СК ФСМ]<br>
8.3.4.  За трёх названных “чёрных” игроков “красный” игрок и “шериф” получает +0,5 дополнительных баллов; за двух названных “чёрных” игроков “красный” игрок и “шериф” получают +0,25 дополнительных баллов. [комментарий СК ФСМ]<br>
8.3.5.  Игрок не имеет права на “лучший ход”, если по результату голосования в первый игровой день игру покинули 2 или большее количество игроков. [комментарий СК ФСМ]<br><br>

8.4.         По окончании игры Судья или Судьи игры имеют право распределить дополнительные баллы между лучшими игроками игры.<br>
8.4.1. Судья может вознаградить дополнительными баллами до пяти игроков, при этом вознаграждение более четырёх игроков допускается только по согласованию с Главным Судьей.<br>
8.4.2. Общая сумма дополнительных баллов от Судьи не должна превышать 1,2 балла, при этом вознаграждение дополнительными баллами общей суммой более 1 балла допускается только по согласованию с Главным Судьей;<br>
8.4.3. Игрок из победившей команды может получить от Судьи +0,1; +0,2; +0,3; +0,4; +0,5; +0,6 или +0,7 балла, при этом получение игроком дополнительных баллов величиной +0,6 или +0,7 за одну игру допускается только по согласованию с Главным Судьей;<br>
8.4.4.  Игрок из проигравшей команды может получить от Судьи +0,1; +0,2; +0,3 или +0,4 балла;<br>
8.4.5. Судья не обязан давать игрокам максимальное кол-во дополнительных баллов. Дополнительные баллы распределяются между игроками независимо от победы той или иной команды.<br>
8.4.6. Дополнительные баллы от Судьи и баллы, полученные игроком за двух или трёх названных “чёрных” игроков в “лучшем ходе”, являются взаимоисключающими величинами. При наличии и того, и другого игрок получает в итоговый рейтинг наибольшую из этих двух величин, при этом в случае, если этой величиной являются дополнительные баллы от Судьи, то они учитываются в общем лимите дополнительных баллов согласно пункту 8.4.2. [комментарий СК ФСМ]<br>
8.4.7. В случае присуждения ничьей игроки не получают дополнительные баллы от Судьи.<br>

8.5.         По окончании игры Судья или Судьи игры должны присудить игрокам штрафные баллы в размере -0.4 балла за действия, негативно повлиявшие на ход игры, при этом эти баллы считаются дополнительными, а баллы за разные действия суммируются:<br>
8.5.1. Игроку “красной” команды, “сломавшему” в другого игрока “красной” команды или в самого себя на голосовании в первый игровой день, после чего их команда проиграла; [комментарий СК ФСМ]<br>
8.5.2. Игроку “красной” команды, “сломавшему” в игрока “красной” команды на голосовании при 4 игроках; [комментарий СК ФСМ]<br>
8.5.3. “Красному” игроку, который вскрылся “шерифом” и оставил эту информацию в качестве действительной, в результате чего “красная” команда проиграла;<br>
8.5.4.  “Шерифу”, который не вскрылся, и оставил эту информацию в качестве действительной, в результате чего “красная” команда проиграла;<br>
8.5.5. “Шерифу”, который не оставил точной информации о сделанных проверках и/или оставил в качестве действительной информацию, частично или полностью не соответствующую сделанным проверкам, после чего “красная” команда проиграла, в следующих случаях:<br>
8.5.5.1.   проверенный “красный” игрок, чья проверка не была названа, или была оставлена среди нескольких игроков, был выведен из игры путём голосования;<br>
8.5.5.2.   проверенный “чёрный” игрок, чья проверка не была названа, или была оставлена среди нескольких игроков, не покинул игру;<br>
8.5.5.3.    “чёрный” игрок, попавший в число игроков, среди которых была оставлена “красная” проверка, не покинул игру;<br>
8.5.5.4.   оставленная в качестве действительной информация о проверках, частично или полностью не соответствующая сделанным проверкам, привела к поражению “красной” команды;<br>
8.5.5.5.  “шериф” не получает штраф за сделанную им проверку, оставленную среди нескольких игроков, если версия “второго шерифа” появилась в игре после того, как он покинул игру.<br>
8.5.6. Игрокам, которые в определённый момент игры забыли о своей игровой роли или чрезмерно отвлеклись от выполнения своих ролевых функций, в результате чего их команда проиграла, а именно:<br>
8.5.7.  “Черному” игроку, который не проснулся на “договорке”; “Дону” , который не проснулся на “договорке” и не назначил порядок “убийств” (и то, и другое вместе);<br>
8.5.8. “Шерифу”, который не совершал проверки в течение 2-х или более “ночей” за игру;<br>
8.5.9. “Шерифу”, который не совершил проверку, в ситуации, когда любая проверка гарантировала победу “красных” (т.е. приводила к “математической победе”);<br>
8.5.10. Игроку “черной” команды, который не “стрелял” в течение 2-х или более ночей за игру;<br><br>

Примечание: Если игрок хочет совершить тактический промах, он должен просто выстрелить в два разных номера.<br>
8.5.11. Игроку “черной” команды, который совершил “промах” в ситуации, когда игрок для “отстрела” был явно и чётко обозначен, и сразу после “отстрела” игра должна была закончиться победой “чёрных”.<br>

8.6.         Игрок, “убитый” в первую ночь, получает компенсационные баллы Ci в случае поражения “красной” команды. [комментарий СК ФСМ]<br>
8.6.1. Величина компенсации Ci определяется по формуле:<br><br>
Где:<br>
i — количество “отстрелов” игрока в первую ночь за роль “красного” игрока или “шерифа” на дистанции накопления турнирного рейтинга при неизменном составе участников;<br>
B — величина, равная 40% от количества игр на этой дистанции, сыгранных игроком, округлённая до целого значения, но не менее 4.<br>
8.6.2.    Величина компенсации для игрока равна Ci, если он был i раз за дистанцию “убит” в первую “ночь”, играя за роль “красного” игрока или “шерифа”.<br>
8.6.3.    Игрок получает компенсационные баллы в качестве основных баллов в тех играх, где он был “убит” в первую “ночь”, играя за роль “красного” игрока или “шерифа”, и оставил в лучшем ходе хотя бы одного “чёрного”<br>
8.6.3.1.          Игрок получает компенсационные баллы в размере Ci, если “красная” команда проиграла<br>
8.6.3.2.          Игрок получает компенсационные баллы в размере 50% от Ci, если “красная” команда выиграла<br>
8.6.3.3.          Игрок не получает компенсационные баллы, если он не оставил в лучшем ходе ни одного “чёрного”<br>
8.6.4.   При изменении количества участников на какой-либо стадии турнира, компенсационные баллы на каждой такой стадии вычисляются только от дистанции и “отстрелов” игрока в первую ночь на этой стадии, без учёта всех остальных игр.<br><br>

8.7.                   Итоговый рейтинг игрока определяется суммой основных и дополнительных баллов, набранных в соответствии с пунктами 8.2 – 8.7. При равенстве рейтинговых баллов позиции игроков в рейтинге определяются по следующим правилам:<br>
8.7.1.    При равенстве рейтинговых баллов преимущество получает игрок с большей суммой дополнительных баллов, набранных в соответствии с пунктами 8.2.4, 8.3, 8.4 и 8.5.<br>
8.7.2.    При равенстве дополнительных баллов преимущество получает игрок с большим количеством побед.<br>
8.7.3.    При равенстве количества побед преимущество получает игрок, одержавший большее количество побед Доном или Шерифом.<br>
8.7.4.    При равенстве количества побед Доном или Шерифом преимущество получает игрок с большим количеством смертей в первую игровую ночь.<br>
8.7.5.    При равенстве всех вышеперечисленных показателей преимущество того или иного игрока определяется жребием.<br><br>

8.8.                   Игрок имеет право подать протест на результат игры. [комментарий СК ФСМ]<br>
8.8.1.    Для подачи протеста игрок должен сделать запись в соответствующей графе Протокола игры не позднее, чем в течение 10 минут после окончания игры.<br>
8.8.2.    Протест рассматривается Главным Судьёй турнира или апелляционной комиссией турнира.<br>
8.8.3.    В процессе принятия решения Главный Судья или Апелляционная Комиссия вправе использовать видеозаписи игр, а также привлекать к решению Судейский комитет ФСМ.<br><br>
8.8.4.    Решение Главного Судьи или Апелляционной комиссии по протесту окончательное и обжалованию или дальнейшему рассмотрению в рамках данного турнира не подлежит. Игрок имеет право подать протест на действия судей в Судейский комитет ФСМ.<br>
8.9.  В случае выявления факта влияния на ход игры весомого неигрового преимущества Главный Судья турнира может изменить результат игры или назначить переигровку по согласованию с дежурным представителем Судейского Комитета ФСМ по данному турниру. [комментарий СК ФСМ]<br><br>
Где:
i — количество “отстрелов” игрока в первую ночь за роль “красного” игрока или “шерифа” на дистанции накопления турнирного рейтинга при неизменном составе участников;<br>
B — величина, равная 40% от количества игр на этой дистанции, сыгранных игроком, округлённая до целого значения, но не менее 4.<br>
</p>
{% endblock %}
